<section>
	<nav class="sub-nav clearfix">
		{{breadcrumbs}}
	</nav>
</section>

<div class="Vlt-card">
<section class="Vlt-grid">
	<section class="Vlt-col Vlt-col--2of3 Vlt-col--M-2of3">
		{{satisfaction}}
    
    
  
  <div class="Vlt-grid">
      <h3 class="requestSub Vlt-col">
        {{request.subject}}
      </h3>
      <span class="request-id Vlt-badge Vlt-bg-blue Vlt-badge--large Vlt-col--1of6">{{t 'request' request_number=request.id}}</span>
	</div>
		
  	<div>
  			<button class="Vlt-btn Vlt-btn--link Vlt-btn--secondary btn tooltip" onclick="initializeSession()" style="position:relative"> 
          <img src={{assignee.avatar_url}} />
         	 <span class="tooltiptext">Discuss live with {{assignee.name}}</span>
				</button>
		</div>
    
    <button id="stop-button" class="Vlt-btn Vlt-btn--link Vlt-btn--secondary tooltip" onclick="stopSession()" style="position:relative">Stop live session</button>
    
        <button id="start-arc-button" class="Vlt-btn Vlt-btn--link Vlt-btn--secondary  stop-btn tooltip" onclick="startArchive()" style="position:relative">Start video recording</button>

    
        <button id="stop-arc-button" class="Vlt-btn Vlt-btn--link Vlt-btn--secondary stop-btn tooltip" onclick="stopArchive()" style="position:relative">Stop video recording</button>
    
            <button id="screenshare" class="Vlt-btn Vlt-btn--link Vlt-btn--secondary tooltip" onclick="screenShare()" style="position:relative">Share your screen</button>



<div id="videos" class="Vlt-grid Vlt-grid--narrow">
	<div class="Vlt-col Vlt-col--A-1of2">
		<div class="Vlt-form__element Vlt-form__element--big">
			<div class="Vlt-input">
       		 <div id="publisher" ></div>
			</div>
		</div>
	</div>
	<div class="Vlt-col Vlt-col--A-2of2">
		<div class="Vlt-form__element Vlt-form__element--big">
			<div class="Vlt-input">
       		 <div id="subscriber" ></div>
			</div>
		</div>
	</div>
</div>
  
    
    <div>
		<ul class="comment-list">
			{{#each comments}}
				<li id="{{anchor}}" class="comment">
					<div class="comment-container">
						<strong class="comment-author">{{author.name}}</strong>
						<span class="comment-published">{{date created_at}}</span>
						<div class="comment-body">{{body}}</div>
						{{#if attachments}}
							<ul class="attachment-list">
								{{#each attachments}}
									<li>
										<a href="{{url}}" target="_blank">{{name}}</a>
										<span>({{size}})</span>
									</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
</div>
		{{pagination}}
		<div class="request-follow-up">
			{{comment_callout}}
		</div>

		{{#form 'comment' class='comment-form Form'}}
			<div class="comment-container">
        <div class="Vlt-textarea">{{textarea 'body' rows='4'}}</div>
				<div class="comment-attachments">
					{{upload}}
				</div>
				<div class="comment-form-controls clearfix">
					<div class="comment-mark-as-solved">
						{{checkbox 'mark_as_solved'}}
						{{label 'mark_as_solved'}}
					</div>
          <br />
          <p><small>Your data will be used in accordance with the Nexmo Limited <a href="https://www.nexmo.com/privacy-policy" target="_blank">Privacy Policy</a> which sets out the rights you have in respect of your data. We will process your data primarily to respond to your request and to provide you support services.</small></p>
					{{input class="Vlt-btn Vlt-btn--primary Vlt-btn--app" type='submit'}}
				</div>
			</div>
		{{/form}}
		{{chat_about_my_ticket}}
	</section>

	<section class="Vlt-col Vlt-col--M-1of3">
		<dl class="request-details">
			<dt>{{t 'submitted_by' requester_name=request.requester.name}}</dt>

			{{#form 'organization' id='request-organization' class="Form"}}
				<br/>
				<dt>{{t 'organization'}}</dt>
				<dd>
					{{select 'organization'}}
					<script>
						$(document).ready(function () {
							// Submit organization form when the value in the select changes
							$("#request-organization select").on("change", function () {
								$("#request-organization").submit();
							});
						});
					</script>
				</dd>
			{{/form}}

			{{#if group}}
				<dt>{{t 'group'}}</dt>
				<dd>
					<span>{{group.name}}</span>
				</dd>
			{{/if}}

			<dt>{{t 'status'}}</dt>
			<dd>
    <span class="request-status request-{{request.status}}" title="{{request.status_description}}">
		{{request.status_name}}
	</span>
			</dd>

			{{#if request.type}}
				<dt>{{t 'type'}}</dt>
				<dd>
      <span>
      {{request.type_name}}
		  {{#is request.type 'task'}}{{t 'task_due_date' due_date=request.due_date}}{{/is}}
      </span>
				</dd>
			{{/if}}

			{{#if request.priority}}
				<dt>{{t 'priority'}}</dt>
				<dd>
					<span>{{request.priority_name}}</span>
				</dd>
			{{/if}}

			{{#if assignee}}
				<dt>{{t 'assignee'}}</dt>
				<dd>
					<span>{{assignee.name}}</span>
				</dd>
			{{/if}}

			{{#each custom_fields}}
				<dt>{{title}}</dt>
				<dd>
					<span>{{value}}</span>
				</dd>
			{{/each}}

			{{#if attachments}}
				<dt>{{t 'attachments_heading'}}</dt>
				<dd>
					<ul class="attachment-list">
						{{#each attachments}}
							<li>
								<a href="{{url}}" target="_blank">{{name}}</a>
								<span>({{size}})</span>
							</li>
						{{/each}}
					</ul>
				</dd>
			{{/if}}

			{{#if collaborators}}
				<dt>{{t 'ccs'}}</dt>
				<dd>
					<span>{{t 'ccs_description'}}</span>
					<ul class="attachment-list">
						{{#each collaborators}}
							<li>{{name}}</li>
						{{/each}}
					</ul>
				</dd>
			{{/if}}
		</dl>
		{{link 'new_request' role='button' class="Vlt-btn Vlt-btn--secondary Vlt-btn--app"}}
	</section>
</section>
</div>
 <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
<script>
// session ID and token generation

  var SERVER_BASE_URL = '';
  var archiveID; 
  var publisher;
  
fetch(SERVER_BASE_URL + '/room/' + {{request.requester.id}} + '-' +{{request.id}}).then(function(res) {
// fetch(SERVER_BASE_URL + '/session').then(function(res) {
  return res.json()
}).then(function(res) {
  apiKey = res.apiKey;
  sessionId = res.sessionId;
  token = res.token;
 // button.addEventListener('click', initializeSession(), true);
  //initializeSession()
}).catch(handleError);

function handleError(error) {
  if (error) {
    alert(error.message);
  }
}

// initialize session + session object creation
var session;
var stopBtn;
var startRec;
var stopRec;
var screenSh;
  
function initializeSession() {
  videos.style.display = 'flex';
  
  stopBtn = document.getElementById('stop-button');
  stopBtn.style.display = 'inline-block';
  
  startRec = document.getElementById('start-arc-button');
  startRec.style.display = 'inline-block';
  
  stopRec = document.getElementById('stop-arc-button');
  stopRec.style.display = 'inline-block';
  
  screenSh = document.getElementById('screenshare');
  screenSh.style.display = 'inline-block';
  
  session = OT.initSession(apiKey, sessionId);

  // Subscribe to a newly created stream once we're publishing
  session.on('streamCreated', function(event) {
    session.subscribe(event.stream, 'subscriber', {
      insertMode: 'append',
      width: '100%',
      height: '100%'
    }, handleError);
  });
  
  session.on('archiveStarted', function archiveStarted(event) {
    archiveID = event.id;
    console.log('Archive started ' + archiveID);
  });
     session.on('archiveStopped', function archiveStopped(event) {
    archiveID = event.id;
    console.log('Archive stopped ' + archiveID);
  });
  session.on('sessionDisconnected', function sessionDisconnected(event) {
    console.error('You were disconnected from the session.', event.reason);
  });
  

  // Create a publisher
  publisher = OT.initPublisher('publisher', {
    insertMode: 'append',
    width: '100%',
    height: '100%',
    // videoSource : 'screen'
  }, handleError);

  // Connect to the session
  session.connect(token, function(error) {
    // If the connection is successful, initialize a publisher and publish to the session
    if (error) {
      handleError(error);
    } else {
      session.publish(publisher, handleError);
    }
  });
}
  
function stopSession() {
  publisher.publishVideo(false);
  publisher.publishAudio(false);
  videos.style.display = 'none';
  stopBtn.style.display = 'none';
  startRec.style.display = 'none';
  stopRec.style.display = 'none';
  screenSh.style.display = 'none';
}

  
function startArchive() {
  //
  console.log('start ')
  fetch(SERVER_BASE_URL +'/archive/start', {
    method: 'post',
    headers: {
      'Content-type': 'application/json'
    },
    body: JSON.stringify({
      'sessionId': sessionId
    })
  })
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    console.log('data from server when starting archiving', data)
  })
  .catch(error => console.log('errror starting archive', error))
}
  
  
function stopArchive() {
  //
  console.log('stop')
  console.log("archiveID" + archiveID);
  fetch(SERVER_BASE_URL + '/archive/' + archiveID + '/stop', {
    method: 'post',
    headers: {
      'Content-type': 'application/json'
    }
  })
  .then((response) => {
    return response.json()
  })
  .then((data) => {
    console.log('data from server when stopping archiving', data)
  })
  .catch(error => console.log('errror stopping archive', error))
} 

function screenShare() {
  session.unpublish(publisher);
  OT.checkScreenSharingCapability(function(response) {
    if(!response.supported || response.extensionRegistered === false) {
      // This browser does not support screen sharing.
    } else if (response.extensionInstalled === false) {
      // Prompt to install the extension.
    } else {
      // Screen sharing is available. Publish the screen.
      publisher = OT.initPublisher('publisher',
        {videoSource: 'screen'},
        function(error) {
          if (error) {
            // Look at error.message to see what went wrong.
          } else {
            session.publish(publisher, function(error) {
              if (error) {
                // Look error.message to see what went wrong.
              }
            });
          }
        }
      );
    }
  });
console.log("publishing screen");
  setPublishing('screen');
}
  
</script>
